In [10]:
import openpyxl as xl
import pandas as pd
import datetime

In [23]:
wb = xl.load_workbook('book1.xlsx')

In [24]:
sheet = wb['Sheet1']

In [25]:
sheet['H1'].value

datetime.datetime(2020, 8, 7, 0, 0)

In [12]:
sheet['H1'].value.strftime('%Y/%m/%d')

'2020/08/07'

In [39]:
max_c =sheet.max_column
max_c +=1

In [40]:
for i in range(1,max_c):
    try:
        s =sheet.cell(row=1, column = i).value.strftime('%Y/%m/%d')
        sheet.cell(row=1, column = i).value = s
    except AttributeError:
       pass

In [42]:
data =list(sheet.values)

In [44]:
df = pd.DataFrame(data[1:], columns=data[0])

In [47]:
df

,日付,2020/08/01,2020/08/02,2020/08/03,2020/08/04,2020/08/05,2020/08/06,2020/08/07,2020/08/08,2020/08/09,2020/08/10,2020/08/11,2020/08/12
0,a,10,10,10,10,10,10,10,10,10,10,10,10
1,b,20,20,20,20,20,20,20,20,20,20,20,20

In [50]:
df.iloc[:,1:].stack()

0  2020/08/01    10
   2020/08/02    10
   2020/08/03    10
   2020/08/04    10
   2020/08/05    10
   2020/08/06    10
   2020/08/07    10
   2020/08/08    10
   2020/08/09    10
   2020/08/10    10
   2020/08/11    10
   2020/08/12    10
1  2020/08/01    20
   2020/08/02    20
   2020/08/03    20
   2020/08/04    20
   2020/08/05    20
   2020/08/06    20
   2020/08/07    20
   2020/08/08    20
   2020/08/09    20
   2020/08/10    20
   2020/08/11    20
   2020/08/12    20
dtype: int64

In [53]:
melted = pd.melt(df,['日付'])

In [54]:
melted

   日付    variable  value
0   a  2020/08/01     10
1   b  2020/08/01     20
2   a  2020/08/02     10
3   b  2020/08/02     20
4   a  2020/08/03     10
5   b  2020/08/03     20
6   a  2020/08/04     10
7   b  2020/08/04     20
8   a  2020/08/05     10
9   b  2020/08/05     20
10  a  2020/08/06     10
11  b  2020/08/06     20
12  a  2020/08/07     10
13  b  2020/08/07     20
14  a  2020/08/08     10
15  b  2020/08/08     20
16  a  2020/08/09     10
17  b  2020/08/09     20
18  a  2020/08/10     10
19  b  2020/08/10     20
20  a  2020/08/11     10
21  b  2020/08/11     20
22  a  2020/08/12     10
23  b  2020/08/12     20

In [55]:
type(df.iloc[:,1:].stack())

pandas.core.series.Series

In [22]:
list(sheet.values)

[('日付',
  '2020/08/01',
  '2020/08/02',
  '2020/08/03',
  '2020/08/04',
  '2020/08/05',
  '2020/08/06',
  '2020/08/07',
  '2020/08/08',
  '2020/08/09',
  '2020/08/10',
  datetime.datetime(2020, 8, 11, 0, 0),
  datetime.datetime(2020, 8, 12, 0, 0)),
 ('a', 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10),
 ('b', 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20)]